/* Total Body style Cards and Cart  */
.body{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}

/* All card styles  */
.all-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
}


/* Cart Style added here  */
.cart-wrapper{
    width: 20%;
    background-color: #90AFC5;
    position: fixed;
    right: 25px;
    padding: 20px;
    border-radius: 10px;
}