.body{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 95%;
    margin: 20px auto;
}
.all-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
}
.cart-wrapper{
    width: 20%;
    background-color: #5B3C89;
    position: fixed;
    right: 25px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}