.scientist-card{
    background-color: #46878f79;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.scientist-card:hover{
    box-shadow: 0px 0px 10px 2px #000000;
}
.scientist-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.scientist-card button{
    margin-top: 10px;
    border:none;
    font-weight: bold;
    background-color: #087A81;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.scientist-card button:hover{
    background-color: #065b5f;

}

.scientist-card p{
    padding: 5px 0;
    font-size: 20px;
    text-align: start;

}